@using StudentskiDom.Web.Areas.ManagerModul.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/_LayoutManagerModul.cshtml";

}
@model ZaposleniciDodajVM
@if (!ViewData.ModelState.IsValid)
{
    <span class="alert-danger">
        @Html.ValidationSummary()
    </span>
}
<ol class="breadcrumb">
    <li>
        <a href="/ManagerModul" class="breadcrumb-item" style="color:cadetblue;font-size:x-large;text-decoration:none">Modul manager</a>
    </li>
</ol>
<hr />
<div>
    <h2 style="display:inline-block">Dodavanje novog zaposlenika</h2><a href="/ManagerModul/Zaposlenici" class="btn btn-primary" style="float:right;margin-right:10px">Ponisti</a>
</div>
<hr />

<div class="container">
    <div class="card-body">

        <form asp-action="Snimi" asp-controller="Zaposlenici" asp-area="ManagerModul" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>Ime:</label>
                        <input type="text" asp-for="@Model.Ime" required class="form-control" aria-describedby="nameHelp" placeholder="Enter first name" />
                    </div>
                    <div class="col-md-6">
                        <label>Prezime:</label>
                        <input type="text" asp-for="@Model.Prezime" required class="form-control" aria-describedby="nameHelp" placeholder="Enter last name" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label>Jmbg:</label>
                <input type="text" asp-for="@Model.Jmbg" class="form-control" value="@Model.Jmbg" />
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label>Email:</label>
                    <input type="text" asp-for="@Model.Email" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Telefon:</label>
                    <input type="text" asp-for="@Model.Telefon" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>
                    Grad:
                </label>
                <select asp-for="@Model.GradId" asp-items="@Model.Gradovi" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>
                    Vrste zaposlenika:
                </label>
                <select asp-for="@Model.VrsteZaposlenikaId" asp-items="@Model.VrsteZaposlenika" class="form-control"></select>
            </div>
            <div>
                <input type="submit" value="Snimi" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>